%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2017 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{erl_opts, [
    no_debug_info,
    warn_export_all,
    warn_export_vars,
    warn_missing_spec,
    warn_unused_import,
    warnings_as_errors
]}.

{deps, [
    {neotoma,
        {git, "https://github.com/basho/neotoma.git",
        {branch, "feature/riak-2903/rebar3"}}}
]}.

{profiles, [
    % For Dialyzer and XRef
    {check, [
        {erl_opts, [
            debug_info,
            {d, 'BASHO_CHECK'}
        ]},
        {dialyzer, [
            {warnings, [
                error_handling,
                race_conditions,
                unknown,
                unmatched_returns
            ]},
            {plt_extra_apps, [
                neotoma,
                providers,
                rebar
            ]}
        ]},
        {xref_checks, [
            deprecated_function_calls,
            deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]},
        %% For efficiency in production use, we only have a dependency on rebar
        %% itself in this profile.
        {deps, [
            {rebar,
                {git, "https://github.com/erlang/rebar3.git",
                {branch, "master"} }}
        ]},
        {overrides, [
            {add, neotoma,    [{erl_opts, [debug_info]}]},
            {add, providers,  [{erl_opts, [debug_info]}]},
            {add, rebar,      [{erl_opts, [debug_info]}]}
        ]}
    ]}
]}.

{brt_protect, true}.
{brt_upstream, [
    % This is the original, which doesn't seem to be maintained.
    {zamotivator,
        {git, "https://github.com/zamotivator/rebar3_neotoma_plugin.git"}},
    {sync, zamotivator, master},
    % Tristan has done some significant updates on it.
    {tsloughter,
        {git, "https://github.com/tsloughter/rebar3_neotoma_plugin.git"}},
    {sync, tsloughter, master}
]}.
